
.h-100{
    background-color: #eee;
}
.container-fluid{
    background-color: #eee;
}
.filter-div{
    margin-top: 1%;
    margin-bottom: 1%;
}
#edit-div, #alert{
    margin-top: 4%;
    margin-bottom: 4%;
}
#alert-div{
    margin-top: 8%;
}
#login-div{
    margin-top: 6%;
    margin-bottom: 4%;
}
.navbar{
    background-color: lightgray;
}
#btn-color{
    background-color: #fe585a; border-color:#fe585a;
}
#table-div{
    margin-top: 10%;
    margin-bottom: 1%;
    margin-left: -15%;
    margin-right: 15%;
}
