.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.form-control{
    max-width: 160px;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0; 
    background: deepskyblue;
    padding-inline-start: 0px
}
  
.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.navigation a:hover {
    background: #1565C0;
}

@media all and (max-width: 800px) {
.navigation {
    justify-content: space-around;
    }
}
  
@media all and (max-width: 600px) {
    .navigation {
      flex-flow: column wrap;
      padding: 0;
    }
    .navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation li:last-of-type a {
      border-bottom: none;
    }
}
.button1 {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.button1:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.button1:active {
	position:relative;
	top:1px;
}
.volver{
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* @media all and (max-width:30em){
 a.button1{
  display:block;
  margin:0.4em auto;
 } */

/* #alert{
    margin-top: 15px;
    margin-left: 18%;
    max-width: 250px;
    align-items: center;
    justify-content: center;
} */